#uploadSequenceForm > input[type='file'] { 
     font-size: 0px;

}
#uploadSequenceForm > ::file-selector-button { 
    font-size: 1rem;

 }

 ::placeholder {
    color:red;
    opacity: 1;
    }

 #fileChosen {
     font-size: 0.8rem;
 }



