@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: theme('colors.yellow-pallete');
}

body{
  @apply items-center justify-center flex w-[100vw] h-[100vh]
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  @apply text-3xl mb-2
}

h2 {
  @apply text-3xl
}

h3 {
  @apply text-2xl
}

#tesDNA {
  width: 60%;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  border: 5px solid lightblue;
  border-radius: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

#tesDNA .column {
  float: left;
  height: 100%;
  margin-bottom: 8%;
}

.side {
  width: 25%;
}

.middle {
  width: 50%;
}

#hasilTes {
  margin-top: 50px;
}

#tesDNA .column .inputBox {
  max-width: 75%;
}

.Same{
  display:inline-block;
}

.tesDNA:after {
content: "";
display: table;
clear: both;
}

.colMargin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: top;

  

}

#uploadSequenceForm > input[type='file'] { 
  font-size: 0px;

}
#uploadSequenceForm > ::file-selector-button { 
 font-size: 1rem;

}

::placeholder {
 color:red;
 opacity: 1;
 }

#fileChosen {
  font-size: 0.8rem;
}

.ContainerBody {
  position: relative;
  width: 60%;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  border: 5px solid lightblue;
  border-radius: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.smallheight {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}